@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">PROG8555 Midterm Project</h1>
    <p>Student Name: Chunxi Zhang</p>
    <p>Student ID: 8971818</p>
</div>
